# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
*.iml
.idea/
.vscode/

# Plataformas generadas por `flutter create .`
# (se regeneran localmente; ver README)
